.card__container{
    width: 255px;
    height: 320px;
    background-color: #1D1D1D;
    border-radius: 60px;

}

.image{
    width: 255px;
    height: 250px;
    border-radius: 60px 60px 0px 0px;
    position: relative;
    top: -20px;
}

.closeIcon{
    color: white;
    position: relative;
    top: 80px;
    left: 74px;
    z-index: 2;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.heartIcon_on{
    color: red;
    top: 45px;
    position: relative;
    left: 100px;
    z-index: 2;
    width: 25px;
    height: 25px;
    cursor: pointer;
}   

.heartIcon_off{
    color: white;
    top: 45px;
    position: relative;
    left: 100px;
    z-index: 2;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.name{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 30px;
    color: #F4F4F4;
    margin-top: -7px;
}