.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    position: absolute;
    width: 800px;
    height: 154px;
    top: 25%;
    margin: -25px 0 0 -25px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    line-height: 144px;
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.form {
    position: absolute;
    top: 40%;
    padding: 20px 30px;
    width: 450px;
    height: 150px;
    background: #1D1D1D;
    border-radius: 54px;
    display: inline-table;
}

.form__text{
    text-align: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    color: #F4F4F4;
}

.form__input{
    width: 223px;
    height: 24px;
    border: 0;
    left: 8%;
    top: 15%;
    background: #F4F4F4;
    border-radius: 5px;
    padding-top: 5px;
    margin-left: 20px;
}

.form__button{
    width: 170px;
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
    border-radius: 28px;
    border-width: 1px;
    margin-top: 20px;
}

.form__button__text{
    font-family: 'Poppins', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
}

.error{
    font-family: 'Poppins', 'sans-serif';
    font-weight: 400;
    font-size: .7rem;
    color: red;
    margin-top: 8px;
    margin-bottom: 5px;
}

