

.title{
    position: absolute;
    width: 876px;
    height: 154px;
    left: 349px;
    top: 214px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 144px;
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    border: 1px solid #000000;
}

.form {
    position: absolute;
    width: 553px;
    height: 301px;
    left: 479px;
    top: 405px;
    background: #1D1D1D;
    border-radius: 54px;
}

.form__text{
    width: 180px;
    height: 45px;
    left: 551px;
    top: 469px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 44px;
    color: #F4F4F4;
}

.form__input{
    width: 223px;
    height: 24px;
    left: 731px;
    top: 479px;
    background: #F4F4F4;
    border-radius: 5px;
}

.form__button{
    width: 170px;
    height: 56px;
    left: 681px;
    top: 608px;
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
    border-radius: 28px;
}

.form__button__text{
    width: 93px;
    height: 45px;
    left: 721px;
    top: 616px;
    font-family: 'Poppins', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 45px;
    color: #FFFFFF;
}



.error{
    color: red;
}