.searchbar__input{
    width: 150px;
    height: 43px;
    background: #F4F4F4;
    border-radius: 25px;
    position: absolute;
    margin-left: -120px;
    padding-left: 20px;
}

.searchbar__button{
    position: relative;
    width: 160px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: linear-gradient(90deg, #B224EF 0%, #7579FF 100%);
    border-radius: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 38px;
    color: #FFFFFF;
}